# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Platform build artifacts
android/.gradle/
android/app/debug
android/app/profile
android/app/release
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
.DS_Store

# Coverage
coverage/

# Env
.env
